<main class="container-fluid p-0 m-0">
    <h1 class="text-center h3">Expense Tracker App</h1>
    <form class="add-expense container ">
        <p class="h5">Add Expense</p>
        <div class="form-group m-0 mt-2">
          <label for="description ">Description</label>
          <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" required>
        </div>
        <div class="form-group m-0 mt-2">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter Amount" name="amount" required>
        </div>
        <div class="form-group m-0 mt-2">
          <label for="cadegory">Category</label>

          <select id="cadegory" name="cadegory" class="col mt-2 form-select cadegory " required>
            <option value="" data-name="">Select Brand</option>
            <option value="6" data-name="daily">Daily</option>
            <option value="1" data-name="weekly">Weekly</option>
            <option value="3" data-name="weekday">Weekday</option>
            <option value="4" data-name="weekend">Weekend</option>
            <option value="5" data-name="once-off">Once-off</option>
            <option value="2" data-name="monthly">Monthly</option>
          </select>
        </div>
        <button type="submit">Add Experiance</button>
    </form>
    <div class="expense-response container">
        <h4 class="d-flex justify-content-between">Total Expenses <span class="text-end">{{Total}}</span></h4>
        <h5>Expence Summary Per Category</h5>
         
        <table class="table">
            <thead>
                <tr>
                    <th>Catagory</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Daily</td>
                    <td>{{daily}}</td>
                </tr>
                
                <tr>
                    <td>Weekly</td>
                    <td>{{weekly}}</td>
                </tr>
                <tr>
                    <td>Weekday</td>
                    <td>{{weekday}}</td>
                </tr>
                <tr>
                    <td>Weekend</td>
                    <td>{{weekend}}</td>
                </tr>
                <tr>
                    <td>Once-off</td>
                    <td>{{onceOff}}</td>
                </tr>
                <tr>
                    <td>Monthly</td>
                    <td>{{monthly}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="expenses-link text-center container">
        <a href="/expenses" class="">View expenses</a>
    </div>
    
</main>